.slot {
    float: right;
    width: 33.33%;
    font-size: 100px;
  }
  
/* Clear floats after the columns */
#machine:after {
    content: "";
    display: table;
    clear: both;
  }

h1 {
    padding: 100px;
    text-align: center;
}

button {
    margin-top: 100px;
}

#message {
    text-align: center;
    display: none;
    font-size: xx-large;
}

body {
    text-align: center;
}